.idea
Proba*
*.pth
!weights/wall_encoder_epoch_20.pth
!weights/wall_decoder_epoch_20.pth
!model_weights/resnet50-imagenet.pth
__pycache__
configs/*
!configs/config.json
.ipynb_checkpoints
ckpt/*
README.md
!ckpt/README.md
data/ADEChallengeData2016