{% extends "base.html" %}
{% block content %}
<div class="container-fluid py-5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 order-md-1 order-1">
      <div class="bg-light border-right" id="sidebar-wrapper">
        <h3>Texture List</h3>
        <div class="list-group list-group-flush sidebar-scrollable">
          {% for image in images %}
            <div class="list-group-item list-group-item-action bg-light">
              <p>{{ image }}</p>
              <img alt="{{ image }}" class="img-fluid rounded shadow-sm mx-auto d-block fixed-size-image"
                   src="{{ url_for('static', path='test_images/textures/' ~ image) }}"
                   onclick="selectTexture('{{ image }}')"
                   loading="lazy">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    
    <!-- Main Content -->
    <div class="col-md-9 order-md-1 order-2">
      <div class="text-center">
        <h1 class="display-4">ROOM WALL VISUALIZER</h1>
        <p class="lead mb-5">A webapp to apply new color or texture to your room. Just drop an image and see new room.</p>
      </div>
      
      <div class="row py-4">
        <div class="col-lg-10 mx-auto">
          <!-- Upload image form -->
          <form id="uploadForm" enctype="multipart/form-data">
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
              <input class="form-control border-0" id="upload" name="file" type="file" accept="image/*" onchange="handleImageUpload(event)">
              <label class="font-weight-light text-muted" for="upload" id="upload-label">Choose file</label>
              <div class="input-group-append">
                <label class="btn btn-light m-0 rounded-pill px-4" for="upload">
                  <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                  <small class="text-uppercase font-weight-bold text-muted">Choose file</small>
                </label>
              </div>
            </div>
            <!-- Uploaded image preview -->
            <p class="font-italic text-center">The image uploaded will be rendered inside the box below.</p>
            <div class="image-area mt-4">
              <img alt="Uploaded room image" class="img-fluid rounded shadow-sm mx-auto d-block" id="imageResult" name="change" src="{{ room }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function handleImageUpload(event) {
  const file = event.target.files[0];
  if (file) {
    // Preview the image
    const reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById('imageResult').src = e.target.result;
    }
    reader.readAsDataURL(file);

    // Send the image to the server for processing
    const formData = new FormData();
    formData.append('file', file);
    formData.append('button', 'texture'); // or 'color', depending on what you want to do by default

    fetch("{{ url_for('predict_image_room') }}", {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      // Handle the response from the server
      console.log(data);
      // You might want to update the UI here based on the response
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
}
</script>
{% endblock %}